{% extends "base.html" %}
{% block title %} Sudoku Solver {% endblock %}
{% block head %} <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sudoku.css" /> {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
            {% for x in board %}
                <td> <input name="{{forloop.counter}}" class="cell" value="{{x}}" maxlength="1"> </input></td>
                <!-- Add a new row after every 9 columns. Can't use division but there must be a better way to do this -->
                {% if forloop.counter  == 9 or forloop.counter  == 18 or forloop.counter  == 27 or forloop.counter  == 36 or forloop.counter  == 45 or forloop.counter  == 54 or forloop.counter  == 63 or forloop.counter  == 72 or forloop.counter  == 81 %}
                    </tr>
                    <tr>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
        <br>
        <br>
        <input type="submit" value="solve"></input>
    </form>
{% endblock %}
