html{
    background-image: url(tyler.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    -moz-background-size: cover;
    background-size: cover;
    
}